
#container-start-bootstrap{
    background-color: mediumturquoise;
}

#container-start-bootstrap{
    color: white;
}

#container-start-bootstrap h1{
    font-weight: 600;
}

.linea-bianca{
    height: 5px;
    background-color: white;
    border-radius: 20px;
}

.linea-nera{
    height: 5px;
    background-color: black;
    border-radius: 20px;
}

.btn-download{
    border-color: white;
    color: white;
}

.btn-send{
    background-color: mediumturquoise;
    border-color: mediumturquoise;
}

#container-portfolio{
    margin-bottom: 100px;
}

#box-portfolio img{
border-radius: 5%;
}

#container-about{
    background-color: mediumturquoise;
    color: white;
}

#container-footer{
    background-color: rgba(58,84,109,255);
    color: white;
}

#copyrigth-footer{
    color: white;
    background-color: rgba(44,62,80,255);
}

#container-footer i{
    border: 1px solid white;
    border-radius: 50%;
    font-size: 1.2em;
    padding: 15px;
}

p > span{
     color: mediumturquoise;
}

