
#container-start-bootstrap{
    background-color: mediumturquoise;
    height: 400px;
    margin-bottom: 150px;
}

#container-portfolio{
    margin-bottom: 100px;
}

#box-portfolio div{
    background-color: mediumvioletred;
    height: 300px;
    border: 10px solid white;
}

#container-about{
    background-color: mediumturquoise;
    height: 450px;
}

#container-contact{
    height: 500px;
}

#container-footer{
    background-color: darkslateblue;
    height: 200px;
}

#copyrigth-footer{
    height: 100px;
    background-color: indigo;

}

h1,h2{
    text-align: center;
}
